* {
	/*border: 1px red solid;*/
}

body, html {
	margin: 0px;
	padding: 0px;
}


#container {
	/*width: 800px;*/
	max-width: 450px;
	margin: 0 auto;
}

#weather-today {
	/*width: 450px;*/
	margin: 0 auto;
	overflow: auto;
}

#weather-today img {
	width: 150px;
	float: left;
	padding-right: 10px;
}


#google-map {
	height: 500px;
}

h1 {
	text-align: center;
}

#city {
	display: block;
	margin: 0 auto;
}

#location {
	text-align: center;
}

.following-days {
	text-align: center;
}

.next-day {
	width: 150px;
	display: inline-block;
	text-align: center;
}

.hidden {
	visibility: hidden;
}

.display-none {
	display: none;
}